$twitter-color: #50b7f5;
$twitter-background: #e6ecf0;

.sidebar {
  flex: 0.3;
  min-width: 250px;
  border-right: 1px solid $twitter-background;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  .twitter-logo {
  }
  .tweet-button {
    background-color: $twitter-color !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
  }
}

//Option

.option {
  display: flex;
  align-items: center;
  cursor: pointer;
  .MuiSvgIcon-root {
    padding: 20px;
  }
  h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
  }
  &:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: $twitter-color;
    transition: color 100ms ease-out;
  }
}

.option-active {
  color: $twitter-color;
}
